.mt-3.mb-5
  %h2.text-2xl.font-bold Dashboard
.my-5
  = render "random_reminder"
%hr.my-8
%ul.grid.grid-cols-1.gap-y-5.md:grid-cols-2.md:gap-5.xl:grid-cols-3
  %li
    = render "reminders_count", reminders_count: @reminders_count
  %li
    = render "thoughts_count", thoughts_count: @thoughts_count
  %li
    = render "recoveries_count", recoveries_count: @recoveries_count
  %li
    = render "routines_count", routines_count: @routines_count