%article.pl-5.py-5.mx-auto.max-w-lg.rounded-md.border.border-2.border-neutral-300.bg-white
  .pr-5
    .flex.justify-between
      .flex
        = link_to edit_routine_path(routine) do
          = image_tag "pencil.svg", alt: "edit", class: "w-6 mr-3"
        - if routine.bookmarked?
          = button_to "/routines/#{routine.id}/unbookmark", method: :patch do
            = image_tag "filled_heart.svg", alt: "unbookmark", class: "w-6"
        - else
          = button_to "/routines/#{routine.id}/bookmark", method: :patch do
            = image_tag "unfilled_heart.svg", alt: "bookmark", class: "w-6"
      = button_to routine_path(routine), method: :delete do
        = image_tag "trash_bin.svg", alt: "delete", class: "w-6"
    .mt-5
      %h3.mb-3.text-xl.font-bold= routine.title
    - unless routine.description.empty?
      .px-3.py-2.bg-neutral-100.rounded-md.border.border-neutral-300
        %p.break-all.text-neutral-600= routine.description
  - if routine.completed?
    .my-6.text-center
      %p.text-xl.font-bold.text-green-500 Routine target reached!
  .mt-5.mb-2.pr-3.max-w-lg.flex.items-center.justify-end
    %span.text-xs Days
  .pr-5
    .max-w-lg.flex.items-center.justify-between
      %p Target:
      %strong.number.text-xl.text-yellow-500= routine.target_days
    .max-w-lg.flex.items-center.justify-between
      %p Max record:
      %strong.number.text-xl.text-green-500= routine.max_record
    .max-w-lg.flex.items-center.justify-between
      %p Current record:
      %strong.number.text-xl.text-blue-500= routine.current_record
    %hr.my-3
    %p.mb-2 Days:
    = render "days", routine: routine
  - if allow_submit_routine_report?(routine)
    .mt-5.flex.items-center.justify-between
      = button_to "Submit report", "/routines/#{routine.id}/report", method: :patch, class: "px-3 py-2 text-white rounded-md bg-blue-400 hover:bg-blue-500 cursor-pointer"
      = button_to "Submit setback", "/routines/#{routine.id}/setback", method: :patch, class: "mr-5 px-3 py-2 text-white rounded-md bg-rose-500 hover:bg-rose-600 cursor-pointer"
  - if routine.completed?
    .mr-5.mt-5.flex.items-center.justify-end
      = link_to "New target", "/routines/#{routine.id}/new_target", class: "px-3 py-2 text-white rounded bg-blue-400 hover:bg-blue-500"
  .mr-5.mt-5.flex.justify-end.text-sm.text-neutral-500
    %span Created on:&nbsp;
    %span.font-bold= routine.created_at.strftime('%d %B')