= link_to routine_path(routine), class: "block max-w-sm" do
  %article.pl-5.py-5.rounded-md.border.border-2.border-neutral-300.bg-white.hover:bg-neutral-50.hover:border-neutral-500
    .flex.items-center
      - if routine.bookmarked?
        = image_tag "filled_heart.svg", alt: "bookmarked", class: "mr-3 w-5"
      %h3.text-xl.font-bold= routine.title
    .mb-2.mr-3.max-w-sm.flex.items-center.justify-end
      %span.text-xs Days
    .pr-5
      .max-w-sm.flex.items-center.justify-between
        %p Max record:
        %strong.number.text-xl.text-green-500= routine.max_record
      .max-w-sm.flex.items-center.justify-between
        %p Current record:
        %strong.number.text-xl.text-blue-500= routine.current_record
      %hr.my-3
      %p.mb-2 Days:
      = render "days", routine: routine
    .mr-5.mt-5.flex.justify-end.text-sm.text-neutral-500
      %span Created on:&nbsp;
      %span.font-bold= routine.created_at.strftime('%d %B')
