- progress = calculate_progress(recovery)
%article.pl-5.py-5.mx-auto.max-w-lg.rounded-md.border.border-2.border-neutral-300.bg-white
  .pr-5
    .flex.justify-between
      .flex
        = link_to edit_recovery_path(recovery) do
          = image_tag "pencil.svg", alt: "edit", class: "w-6 mr-3"
        - if recovery.bookmarked?
          = button_to "/recoveries/#{recovery.id}/unbookmark", method: :patch do
            = image_tag "filled_heart.svg", alt: "unbookmark", class: "w-6"
        - else
          = button_to "/recoveries/#{recovery.id}/bookmark", method: :patch do
            = image_tag "unfilled_heart.svg", alt: "bookmark", class: "w-6"
      = button_to recovery_path(recovery), method: :delete do
        = image_tag "trash_bin.svg", alt: "delete", class: "w-6"
    .mt-5
      %h3.mb-3.text-xl.font-bold= recovery.title
    .px-3.py-2.bg-neutral-100.rounded-md.border.border-neutral-300
      %p.break-all.text-neutral-600= recovery.description
    .w-fit.mx-auto.mt-8.mb-5.grid.grid-cols-2.gap-10
      .text-center
        %strong Start date
        %br
        %span= recovery.start_date.strftime('%d %B')
      .text-center
        %strong Target date
        %br
        %span= recovery.target_date.strftime('%d %B')
  .mb-2.pr-3.max-w-lg.flex.items-center.justify-end
    %span.text-xs Days
  .pr-5
    .max-w-lg.flex.items-center.justify-between
      %p Target:
      %strong.number.text-xl.text-yellow-500= recovery.target_days
    .max-w-lg.flex.items-center.justify-between
      %p Max record:
      %strong.number.text-xl.text-green-500= recovery.max_record
    .max-w-lg.flex.items-center.justify-between
      %p Current record:
      %strong.number.text-xl.text-blue-500= recovery.current_record
    %hr.my-3
    .max-w-lg.flex.items-center.justify-between
      .flex.items-center
        %p.font-bold.mr-3 Stoppers:
        - if @current_date >= recovery.start_date || recovery.stoppers.last&.datetime&.to_date == @current_date
          = link_to new_recovery_stopper_path(recovery), class: "mr-3" do
            = image_tag "plus.svg", alt: "back", class: "w-6"
          = link_to recovery_stoppers_path(recovery) do
            = image_tag "magnifying_glass.svg", alt: "back", class: "w-6"
      %strong.number.text-xl.text-rose-500= recovery.stoppers.count
    .mt-4
      %span.text-sm.text-neutral-500 Progress
      = render "progress_bar", progress:
    - if allow_submit_report?(recovery)
      .mt-5
        = button_to "Submit report", "/recoveries/#{recovery.id}/report", method: :patch, class: "px-3 py-2 text-white rounded-md bg-blue-400 hover:bg-blue-500 cursor-pointer"
    - if recovery.completed
      .mt-5.flex.items-center.justify-between
        .w-fit.px-3.py-2.text-white.rounded-md.bg-green-500 Completed!
        = link_to "Renew", "/recoveries/#{recovery.id}/renew", class: "px-3 py-2 text-white rounded bg-blue-400 hover:bg-blue-500"
  