%article.pl-5.py-5.mx-auto.max-w-lg.rounded-md.border.border-2.border-neutral-300.bg-white
  .pr-5
    .flex.justify-between
      = link_to edit_budget_path(budget) do
        = image_tag "pencil.svg", alt: "edit", class: "w-6 mr-3"
      = button_to budget_path(budget), method: :delete do
        = image_tag "trash_bin.svg", alt: "delete", class: "w-6"
    .mt-5
      %h3.text-xl.font-bold= budget.title
    .my-3.max-w-sm.flex.items-center.justify-between
      %p Top amount:
      %strong.number.text-xl.text-blue-500= number_to_currency(budget.top_amount_allowed, precision: 2, delimiter: ',', separator: '.')
    - unless budget.expenses.blank?
      %ul.my-5.px-3.py-2.bg-neutral-100.rounded-md.border.border-neutral-300
        - budget.expenses.each do |expense|
          %li
            = render "expenses/expense", budget:, expense:
    .my-3.max-w-sm.flex.items-center.justify-between
      %p Expenses:
      %strong.number.text-xl.text-rose-500= number_to_currency(budget.total_expenses, precision: 2, delimiter: ',', separator: '.')
    %hr.my-3
    .max-w-sm.flex.items-center.justify-between
      %p Balance:
      - if budget.balance.positive?
        %strong.number.text-xl.text-green-500= number_to_currency(budget.balance, precision: 2, delimiter: ',', separator: '.')
      - else 
        %strong.number.text-xl.text-rose-500= number_to_currency(budget.balance, precision: 2, delimiter: ',', separator: '.')
  .mt-10
    = link_to "New expense", new_budget_expense_path(budget), class: "button bg-green"
  .mr-5.mt-3.flex.justify-end.text-sm.text-neutral-500
    %span Created on:&nbsp;
    %span.font-bold= budget.created_at.strftime('%d %B')
