- value = @budget.top_amount_allowed.nil? ? 0 : @budget.top_amount_allowed
- unless @budget.errors.messages.empty?
  %p.text-xl.font-bold Errors:
  %ul.mb-5
    - @budget.errors.messages.each_pair do |k, v|
      %li.text-rose-600= "#{k.to_s.humanize} #{v.join(',')}"
= form_for @budget do |f|
  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :top_amount_allowed
    = f.number_field :top_amount_allowed, min: 0, step: 0.5, value:
  .form-actions
    = f.submit "Submit"
