.mt-3.mb-5
  .flex.items-center
    = link_to root_path, class: "block mr-3" do
      = image_tag "arrow.svg", alt: "back", class: "w-8"
    %h2.text-2xl.font-bold Expense lists
    = link_to new_budget_path, class: "block ml-3" do
      = image_tag "plus.svg", alt: "back", class: "w-8"
%ul.grid.grid-cols-1.gap-y-5.md:grid-cols-2.md:gap-5.xl:grid-cols-3
  - @budgets.each do |budget|
    %li= render "budget", budget:
