- unless @stopper.errors.messages.empty?
  %p.text-xl.font-bold Errors:
  %ul.mb-5
    - @stopper.errors.messages.each_pair do |k, v|
      %li.text-rose-600= "#{k.to_s.humanize} #{v.join(',')}"
= form_for [@recovery, @stopper] do |f|
  .form-group
    = f.label :reason
    = f.text_area :reason
  .form-group
    = f.label :datetime
    = f.datetime_local_field :datetime
  .form-group
    = f.label :mood
    = f.select :mood, options_for_select(map_sort_moods, selected: @stopper.mood)
  .form-actions
    = f.submit "Add stopper"