.mx-auto.max-w-xl.mt-3.mb-5
  %h2.text-2xl.font-bold Log in
.max-w-xl.mx-auto
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .flex.items-center
        = f.check_box :remember_me, class: "mr-3"
        = f.label :remember_me
    .form-actions
      = f.submit "Log in"
